body {
  background-color: rgb(69,92,123);
  text-align: center;
  font-family: 'Rubik', sans-serif;
  height:100%;
}

a {
  color: rgb(255,240,209);
  text-decoration: none;
  border: 1px white solid;
  padding: 5px;
  border-radius: 4px;
}

a:hover {
  background-color: rgb(172,108,130);
}

/*game title*/
h1 {
  font-size: 60px;
  color:rgb(172,108,130);
  margin: 10px 0;
}

/*numbers*/
h2 {
  font-size: 70px;
  margin: 10px 0;
}

/*player name*/
h3 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}
/*game description*/
h4 {
  font-family: 'Rubik', sans-serif;
  color:rgb(255,240,209);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0 0 0;
}

.main {
  /*border:1px solid pink;*/
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  flex: 1 0 auto;
}

.board {
  background-color:rgb(104,92,121);
  border: 2px solid rgb(104,92,121);
  border-radius: 4px;
  order: 2;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-flow:row;
  align-items: center;
  justify-content: center;
}

.row {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.box {
  font-family: 'Rubik', sans-serif;
  color: rgb(255,240,209);
  font-weight: 700;
  height: 100px;
  width: 100px;
  border:1px solid rgb(255,240,209);
  border-radius: 4px;
  margin: 20px 10px;
  font-size: 100px;
  text-align: center;
}

.usedBox {
  border: 1px solid rgb(118,105,138);
  border-radius: 4px;
}

.oddTokens {
  /*border: 1px solid orange;*/
  height: 510px;
  /*width: 200px;*/
  border: 2px solid rgb(69,92,123);
  border-radius: 5px;
  margin: 0 auto;
  order: 1;
  flex-direction: column;
  align-self:flex-start;
  justify-content: center;
  padding: 10px;
}

.evenTokens {
  height: 510px;
  /*width: 200px;*/
  border: 2px solid rgb(69,92,123);
  border-radius: 5px;
  margin: 0 auto;
  order: 3;
  align-self: flex-start;
  align-items: center;
  padding: 10px;
}

.message {
  font-size:14px;
  height: 20px;
}

.activePlayer {
  background-color: rgb(80,107,143);
  border: 2px solid rgb(80,107,143);
  border-radius: 5px;
  color: #fff;
  animation: fadein 0.5s;
  padding: 10px;
  transition: background-color 0.7s;
}

.winPlayer {
  /*background-color: rgb(172,81,138);*/
  color: #fff;
  background-color: rgba(167,97,142,.7);
  transition: 0.5s;
  border: 2px solid rgb(242,155,160);
  border-radius: 3px;
}

.token {
  font-size: 70px;
  color: rgb(218,147,152);
  /*border:1px solid blue;*/
  height: 70px;
  width: 70px;
  margin: 10px auto;
}

.activePlayer .token:hover {
  /*background-color: rgb(92,107,143);*/
  color: rgb(242,155,160);
  /*text-shadow: 0 0 3px rgba(255,255,255,.5);*/
}

.usedToken {
  color:rgb(51,69,92);
}

.activePlayer .usedToken:hover {
  color:rgb(51,69,92);
}

footer {
  color: rgb(255,240,209);
  flex-shrink: 0;
  font-weight: 300;
}

footer a {
  color: rgb(255,240,209);
  text-decoration: none;
  border: none;
  padding: 0;
}

footer a i {
  font-style: italic;
}

footer a:hover {
  background-color: rgb(104,92,121);
}

@media only screen and (max-width: 850px) {

h1 {
  font-size: 30px;
  margin: 5px 0;
}

/*numbers*/
h2 {
  font-size: 40px;
  margin: 5px 0;
}

/*player name*/
h3 {
  font-size: 30px;
}
/*game description*/
h4 {
  font-size: 16px;
  margin: 10px 0 0 0;
}
.main {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  flex: 1 1 auto;
}
.board {
  order: 2;
  width: 100%;
  height: 100%;
  flex-flow:row;
  justify-content: center;
  padding: 20px 0;
}
.row {
  flex-flow: row;
  justify-content: center;
  align-content: center;
  margin: 0;
}
.box {
  height: 80px;
  width: 80px;
  margin: 5px;
  font-size: 80px;
  margin: 10px 5px;
  justify-content: center;
}
.oddTokens {
  display:inline-block;
  height: auto;
  width: 80%;
  order: 1;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  padding: 10px 20px;
}
.evenTokens {
  display: inline-block;
  height: auto;
  width: 80%;
  order: 3;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  padding: 10px 20px;
}
.message {
  font-size:12px;
  height: 14px;
}
.token {
  display: inline-block;
  font-size: 40px;
  color: rgb(218,147,152);
  height: 40px;
  width: 40px;
  margin: 10px auto;
  flex-flow: row;
}
.usedToken {
  color:rgb(51,69,92);
}
.board {
  width: 80%;
}
}
