.main {
  display:flex;
  align-items: center;
}

.board {
  flex-direction: row;
  justify-content: center;
  border:1px solid red;

}

.box {
  display: inline-block;
  height: 100px;
  width: 100px;
  border:1px grey solid;
  margin: 10px;
}

.oddTokens {
  flex-direction: column;
  /*flex-grow: 1;*/
  /*justify-content: flex-start;*/
}

.evenTokens {
  flex-direction: column;
  /*flex-grow: 1;*/
  /*justify-content: flex-end;*/
}

.x {
  background-color: red;
}

.o {
  background-color: blue;
}

.token {
  align-items: center;
  align-content: center;
  border:1px solid blue;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.token div {
  display: block;
  /*align-content: center;*/
  /*align-items: center;*/
  margin: 0 auto;

}

.usedToken {
  color: red;
}
